.kzcr-cancel,  /* container div */
.kzcr-finish {
	margin: 1em 0;
}

#changeRequestModalBody h4 {
	color: #2D5B85;
}

/* link */
.kzcr-cancel a {
	text-decoration: none;
	color: #00f;
}

.kzcr-cancel a:hover {  /* link */
	text-decoration: underline;
}
